@use "sass:map";

// Typography
/* ------------------------------------- */

// Headings
.heading-style-1 { 
  @include heading-style-1();

  &--display {
    text-transform: uppercase;
  }
}

.heading-style-2 {
  @include heading-style-2();

  &--display {
    text-transform: uppercase;
  }
}

.heading-style-3 {
  @include heading-style-3();

  &--display {
    text-transform: uppercase;
  }
}

.heading-style-embark { @include heading-style-embark; }

// Subheadings
.subheading-style-1 { @include subheading-style-1(); }

.subheading-style-2 { @include subheading-style-2(); }

.subheading-style-3 { @include subheading-style-3(); }

.subheading-style-4 {
  @include subheading-style-4();

  &--display {
    text-transform: uppercase;
  }
}

.subheading-style-embark { @include subheading-style-embark(); }

// Paragraphs
.paragraph-style-1 { @include paragraph-style-1(); }

.paragraph-style-2 {
  @include paragraph-style-2();

  sub {
    display: block;
    font-size: rem-calc(14px);
    line-height: 140%;

    @include breakpoint(large) {
      font-size: 1.1vw; // 14px / 1440px
    }
  }
}

.paragraph-style-3 { @include paragraph-style-3(); }

.paragraph-style-embark { @include paragraph-style-3(); }

.paragraph-style-1,
.paragraph-style-2,
.paragraph-style-3,
.subheading-style-4,
.ordered-list-section li {
  a {
    color: map.get($layout-colors, color);
    text-decoration: underline;

    .dark-mode & {
      color: map.get($layout-dm-colors, color);
    }

    &:hover {
      color: map.get($layout-colors, ambiant);

      .dark-mode & {
        color: map.get($layout-dm-colors, ambiant);
      }
    }
  }
}

// Lists
.list-style-1 {
  @extend .paragraph-style-1;

  li + li {
    margin-top: 16px;

    @include breakpoint(medium) {
      margin-top: 1.476vh;
    }
  }
}

.list-style-3 {
  @extend .paragraph-style-3;

  li + li {
    margin-top: 14px;

    @include breakpoint(large) {
      margin-top: 1.722vh;
    }
  }
}

// Alignment
.text-center { text-align: center; }

// Spacing Relationships
/* ------------------------------------- */

.heading-style-1 + .subheading-style-1 {
  margin-top: 10px;

  @include breakpoint(medium) {
    margin-top: 1.23vh;
  }
}

.heading-style-2 + .paragraph-style-1 { margin-top: 2.25vh; } // 813px / 24px

.heading-style-2 + .paragraph-style-2 { margin-top: 2.25vh; } // 813px / 24px

.heading-style-3 + .subheading-style-4 { margin-top: 0.72vh; } // 813px / 4px

.heading-style-3 + .paragraph-style-1 { margin-top: 2.25vh; } // 813px / 24px

.heading-style-3 + .paragraph-style-2 { margin-top: 2.25vh; } // 813px / 24px

.subheading-style-4 + .paragraph-style-2 { margin-top: 2.25vh; } // 813px / 24px

.subheading-style-4 + .paragraph-style-3 { margin-top: 2.25vh; } // 813px / 24px

.subheading-style-4 + .btn { margin-top: 2.25vh; } // 813px / 24px

.subheading-style-4 + .text-btn { margin-top: 1.230vh; } // 813px / 10px

.paragraph-style-1 + .heading-style-3 { margin-top: 12vh; } // 813px / 120px

.paragraph-style-1 + .paragraph-style-1 { margin-top: 3.542vh; } // 813px / 32px

.paragraph-style-2 + .paragraph-style-2 { margin-top: 2.25vh; } // 813px / 24px

.paragraph-style-2 + .heading-style-2 { margin-top: 2.25vh; } // 813px / 24px

.paragraph-style-2 + .btn { margin-top: 2.25vh; } // 813px / 24px

.paragraph-style-2 + .text-btn { margin-top: 1.230vh; } // 813px / 10px

.paragraph-style-3 + .paragraph-style-2 { margin-top: 2.25vh; } // 813px / 24px

.paragraph-style-3 + .btn { margin-top: 2.25vh; } // 813px / 24px

.paragraph-style-3 + .text-btn { margin-top: 1.230vh; } // 813px / 10px
